In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
#data from 1973 - 2019
data = pd.read_csv('.\\Area_burned_in_each_burn_severity_class_and_emissions_per_fire_1984_2020.csv' , header = 0)
data.info() #see what our data looks like
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Event_ID               1697 non-null   object
 1   Fire_Name              1697 non-null   object
 2   Lat                    1697 non-null   float64
 3   Long                   1697 non-null   float64
 4   Fire_Year              1697 non-null   int64
 5   Fire_Month             1697 non-null   int64
 6   Total_area_burned(ha)  1697 non-null   float64
 7   Unchanged(ha)          1697 non-null   float64
 8   Low_Severity(ha)       1697 non-null   float64
 9   Moderate_Severity(ha)  1697 non-null   float64
 10  High_Severity(ha)      1697 non-null   float64
 11  Grass_Burned(ha)       1697 non-null   float64
 12  CO2(kg)                1697 non-null   float64
 13  CO(kg)                 1697 non-null   float64
 14  CH4(kg)                1697 non-null   float64
 15  NMOC(kg)               1697 non-null   float64
 16  SO2(kg)                1697 non-null   float64
 17  NH3(kg)                1697 non-null   float64
 18  NO(kg)                 1697 non-null   float64
 19  NO2(kg)                1697 non-null   float64
 20  NOx(kg)                1697 non-null   float64
 21  PM2.5(kg)              1697 non-null   float64
 22  OC(kg)                 1697 non-null   float64
 23  BC(kg)                 1697 non-null   float64
dtypes: float64(20), int64(2), object(2)
memory usage: 318.3+ KB

,Event_ID,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),Unchanged(ha),Low_Severity(ha),Moderate_Severity(ha),...,CH4(kg),NMOC(kg),SO2(kg),NH3(kg),NO(kg),NO2(kg),NOx(kg),PM2.5(kg),OC(kg),BC(kg)
0,CA3268211688619840421,PROCTOR,32.682,-116.886,1984,4,1222.20,0.00,300.96,691.38,...,122498.892,1334643.84,40974.4476,93153.2148,72501.624,52617.2868,116967.780,439157.412,205992.036,72591.8796
1,CA3341311687319840530,AGUANGA,33.413,-116.873,1984,5,2250.81,0.54,719.28,1209.42,...,270244.296,2652322.32,84675.1509,176318.4834,136579.959,104980.0932,215969.733,921608.307,551366.541,128230.0443
2,CA3375011772919840615,LOMA RIDGE,33.750,-117.729,1984,6,559.26,5.58,268.83,267.03,...,44565.093,476699.76,14949.4482,32872.9653,25819.893,19010.9259,41448.456,158066.550,77518.152,25344.1260
3,CA3428511755419840528,LYTLE,34.285,-117.554,1984,5,988.47,20.79,134.19,446.58,...,243621.297,1726734.24,64527.7401,91820.5767,70816.158,70530.9435,99933.183,721917.063,715550.607,42452.7525
4,CA3444311889619841015,SQUAW FLAT,34.443,-118.896,1984,10,2447.64,19.80,1748.97,607.32,...,297284.805,2563898.40,90086.0247,156232.3275,124645.644,105702.7491,189641.601,951805.737,717583.221,100634.9715

drop columns that aren't needed

In [32]:
columns_to_drop = ['Event_ID', 'Unchanged(ha)', 'Low_Severity(ha)', 'Grass_Burned(ha)',
       'CO2(kg)', 'CO(kg)', 'CH4(kg)', 'NMOC(kg)', 'SO2(kg)', 'NH3(kg)',
       'NO(kg)', 'NO2(kg)', 'NOx(kg)', 'PM2.5(kg)', 'OC(kg)', 'BC(kg)']
data = data.drop(columns = columns_to_drop)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fire_Name              1697 non-null   object
 1   Lat                    1697 non-null   float64
 2   Long                   1697 non-null   float64
 3   Fire_Year              1697 non-null   int64
 4   Fire_Month             1697 non-null   int64
 5   Total_area_burned(ha)  1697 non-null   float64
 6   Moderate_Severity(ha)  1697 non-null   float64
 7   High_Severity(ha)      1697 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 106.2+ KB

Export to clean csv

In [33]:
data.to_csv('Clean_cal1984.csv',  encoding = 'utf-8')

In [38]:
data

,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),Moderate_Severity(ha),High_Severity(ha)
0,PROCTOR,32.682000,-116.886000,1984,4,1222.20,691.38,229.86
1,AGUANGA,33.413000,-116.873000,1984,5,2250.81,1209.42,321.57
2,LOMA RIDGE,33.750000,-117.729000,1984,6,559.26,267.03,17.82
3,LYTLE,34.285000,-117.554000,1984,5,988.47,446.58,386.91
4,SQUAW FLAT,34.443000,-118.896000,1984,10,2447.64,607.32,71.55
...,...,...,...,...,...,...,...,...
1692,WALKER,38.070623,-120.706163,2020,6,560.43,428.58,83.43
1693,BENA,35.306591,-118.649157,2020,7,1162.89,986.94,69.21
1694,STAGECOACH,35.453445,-118.484881,2020,8,3115.08,2242.44,472.95
1695,PASS,37.046313,-121.163309,2020,6,871.92,220.23,0.00
1696,WILLOWS,39.375003,-121.332452,2020,9,526.68,204.57,35.55