In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
#nothing in this file seems to work properly
df = gpd.read_file('./fire21_2.gdb/')

In [8]:
dataB = df
print(df.columns.tolist())
dataB.columns

['YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME', 'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'COMMENTS', 'REPORT_AC', 'GIS_ACRES', 'C_METHOD', 'OBJECTIVE', 'FIRE_NUM', 'Shape_Length', 'Shape_Area', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'geometry']

Index(['YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME', 'INC_NUM',
       'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'COMMENTS', 'REPORT_AC',
       'GIS_ACRES', 'C_METHOD', 'OBJECTIVE', 'FIRE_NUM', 'Shape_Length',
       'Shape_Area', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'geometry'],
      dtype='object')

In [9]:
dataB = dataB.set_crs(epsg = 3310)
dataB = dataB.to_crs(epsg = 4326)
dataB.geometry.bounds

             minx       miny        maxx       maxy
0     -121.355040  38.886106 -121.340169  38.890478
1     -121.387747  38.815755 -121.351426  38.837968
2     -121.338750  38.841884 -121.331711  38.845649
3     -121.275792  38.960930 -121.270471  38.963578
4     -121.302496  39.485433 -121.298675  39.487215
...           ...        ...         ...        ...
21683 -123.009418  40.846974 -123.003509  40.850995
21684 -119.569151  37.516216 -119.545889  37.529345
21685 -122.147823  40.401240 -122.136553  40.410468
21686 -123.056564  40.845766 -123.051091  40.850576
21687 -120.386130  39.914746 -120.351031  39.928601

[21688 rows x 4 columns]

Remove fires not in California and before 1950

In [10]:
dataB.set_index('STATE' , inplace = True) #run entire cell only once after reading from above cell

print('entries:', len(dataB))
dataB.drop(index = 'NV' , axis = 0, inplace = True) 
dataB.drop(index = 'OR' , axis = 0, inplace = True) 
dataB.drop(index = 'AZ' , axis = 0 , inplace = True)
print('entries:', len(dataB))

# dataB = dataB[dataB['STATE'] != 'AZ'] alternate method of cleaning

dataB.reset_index('STATE' , inplace = True)

dataB.set_index('YEAR_' , inplace = True)

# F_before_1950 = dataB[dataB.index < 1950]
# print(F_before_1950)
for year in range(1950): #range of known years provided in csv we need removed
    if (year in dataB.index):
        dataB.drop(index = year , axis = 0 , inplace = True)
print('entries:', len(dataB))
dataB.reset_index('YEAR_' , inplace = True)

entries: 21688
entries: 21593
entries: 21593

remove entries with missing year

In [15]:
print(len(dataB))
print(dataB['YEAR_'].isna().sum()) #isna() is bool but python is 'ducklike' and can add with .sum()
dataB = dataB[dataB['YEAR_'].notna()] #reassigns dataframe to the same datafram with column year with no missing year entries
print(len(dataB))

print(dataB[dataB['YEAR_'] == '1950']) #print all years at 1950

21525
0
21525
      YEAR_ STATE AGENCY UNIT_ID        FIRE_NAME   INC_NUM  \
1078   1950    CA    CDF     SNU      P.G.& E. #4  00000000
1079   1950    CA    CDF     LMU    BAGGETT GULCH  00000000
2237   1950    CA    CDF     MVU          CONEJOS  00000000
2238   1950    CA    USF     CNF                   00000000
2423   1950    CA    CDF     MVU  SYCAMORE CANYON  00000000
...     ...   ...    ...     ...              ...       ...
18617  1950    CA    NPS     KNP         GOAT MTN  00000000
18618  1950    CA    NPS     KNP        EAGLE PEA  00000000
18619  1950    CA    NPS     KNP        DEER COVE  00000000
18620  1950    CA    NPS     KNP        LIGHTN CR  00000000
18752  1950    CA    NPS     YNP                       None

                      ALARM_DATE                  CONT_DATE  CAUSE  COMMENTS  \
1078   1950-09-03T00:00:00+00:00                       None   14.0
1079   1950-06-02T00:00:00+00:00                       None    9.0
2237   1950-08-16T00:00:00+00:00                       None    9.0
2238                        None                       None    9.0
2423   1950-11-03T00:00:00+00:00                       None   14.0
...                          ...                        ...    ...       ...
18617  1950-08-15T00:00:00+00:00  1950-08-17T00:00:00+00:00    1.0
18618  1950-10-10T00:00:00+00:00  1950-10-13T00:00:00+00:00    1.0
18619  1950-07-27T00:00:00+00:00  1950-07-28T00:00:00+00:00    3.0
18620  1950-09-03T00:00:00+00:00  1950-09-04T00:00:00+00:00    1.0
18752                       None                       None   14.0  20090305

       REPORT_AC     GIS_ACRES  C_METHOD  OBJECTIVE  FIRE_NUM   Shape_Length  \
1078         NaN   1133.364380       NaN        1.0  00000398   10275.686111
1079         NaN   3941.267334       NaN        1.0  00000001   18305.587183
2237         NaN  62848.742188       NaN        1.0  00000564  134246.492184
2238         NaN     39.685848       NaN        1.0  00000002    2050.657844
2423         NaN   3150.342041       NaN        1.0  00000786   13928.088100
...          ...           ...       ...        ...       ...            ...
18617       18.0      4.004176       8.0        1.0  00000021     600.088361
18618      131.0    276.046204       8.0        1.0  00000035    5822.985531
18619      355.0    567.008728       8.0        1.0  00000014    7922.097468
18620       31.0     32.476604       8.0        1.0  00000026    1920.345777
18752        0.0    673.667358       8.0        1.0  00000038    6706.387966

         Shape_Area COMPLEX_NAME COMPLEX_INCNUM  \
1078   4.586563e+06         None           None
1079   1.594974e+07         None           None
2237   2.543398e+08         None           None
2238   1.606029e+05         None           None
2423   1.274898e+07         None           None
...             ...          ...            ...
18617  1.620433e+04         None           None
18618  1.117119e+06         None           None
18619  2.294603e+06         None           None
18620  1.314282e+05         None           None
18752  2.726235e+06         None           None

                                                geometry
1078   MULTIPOLYGON (((-122.75044 38.55355, -122.7482...
1079   MULTIPOLYGON (((-120.81150 41.38038, -120.8109...
2237   MULTIPOLYGON (((-116.51296 32.94816, -116.5126...
2238   MULTIPOLYGON (((-116.60106 33.01355, -116.6011...
2423   MULTIPOLYGON (((-117.02205 32.93213, -117.0208...
...                                                  ...
18617  MULTIPOLYGON (((-118.55076 36.86453, -118.5511...
18618  MULTIPOLYGON (((-118.77911 36.82862, -118.7791...
18619  MULTIPOLYGON (((-118.72151 36.82514, -118.7215...
18620  MULTIPOLYGON (((-118.73510 36.77140, -118.7354...
18752  MULTIPOLYGON (((-119.87207 37.92160, -119.8730...

[226 rows x 20 columns]

Find broken index for datetime (nearly impossible due to ALARM_DATE format)

In [13]:

# dataB[dataB.index == '219-05-29 00:00:00']

dataB.ALARM_DATE.dtype

dtype('O')

Sort Chronologically

In [45]:
dataB.set_index('YEAR_' , inplace = True)
dataB.sort_values(by = 'YEAR_' , ascending = True , inplace = True)
dataB.reset_index('YEAR_' , inplace = True)

dataB['datetime'] = pd.to_datetime(dataB['ALARM_DATE'] , errors = 'coerce') #create new datetime column
dataB.set_index('datetime' , inplace = True) #set new column to index
dataB.sort_values(by='datetime', ascending = True, inplace = True) #sort values
dataB.reset_index('datetime' , inplace = True) #reset index to numbered list
dataB.drop('datetime' , axis = 1 , inplace = True) #delete the datetime column

print(len(dataB) , dataB.index)
dataB.tail

# for i in range(8):
#     print(dataB[dataB.index == i*1000].ALARM_DATE)

21525 RangeIndex(start=0, stop=21525, step=1)

<bound method NDFrame.tail of       YEAR_ STATE AGENCY UNIT_ID     FIRE_NAME   INC_NUM  \
0      1898    CA    CCO     VNC      MATILIJA  00000000
1      1898    CA    CCO     VNC     COZY DELL  00000000
2      1898    CA    CCO     VNC    LOS PADRES  00000000
3      1902    CA    CCO     VNC        FEROUD  00000000
4      1903    CA    CCO     VNC   SAN ANTONIO  00000000
...     ...   ...    ...     ...           ...       ...
21520  2019    CA    USF     TNF        BORDER  00030785
21521  2019    CA    USF     INF         KELTY  00001465
21522  2019    CA    USF     HTF      TAMARACK  00030272
21523  2019    CA    CCO     ORC  BLUE DIAMOND  19059616
21524  2019    CA    NPS     MNP          STAR  00013598

                      ALARM_DATE                  CONT_DATE  CAUSE  \
0      1898-04-01T00:00:00+00:00                       None   14.0
1      1898-09-01T00:00:00+00:00                       None   14.0
2      1898-09-01T00:00:00+00:00                       None   14.0
3      1902-08-01T00:00:00+00:00                       None   14.0
4      1903-10-01T00:00:00+00:00                       None   14.0
...                          ...                        ...    ...
21520                       None                       None   14.0
21521                       None                       None   14.0
21522                       None                       None   14.0
21523  0219-05-29T00:00:00+00:00  0219-05-29T00:00:00+00:00   16.0
21524                       None                       None   14.0

                                          COMMENTS  REPORT_AC     GIS_ACRES  \
0                                                         NaN   2641.123047
1                                                         NaN   2974.585205
2                                                         NaN  20539.949219
3                                                         NaN    731.481567
4                                                         NaN    380.260590
...                                            ...        ...           ...
21520  from EGP REST Service, phone/ tablet c_meth        NaN     11.514281
21521                        Event Standard Perims        NaN      4.613461
21522          chanley_nifc;from EGP REST, in July        NaN     67.217476
21523                                         None        NaN      2.296940
21524                                         None        NaN     66.587181

       C_METHOD  OBJECTIVE  FIRE_NUM  Shape_Length    Shape_Area COMPLEX_NAME  \
0           NaN        1.0  00000000  22586.835133  1.068825e+07         None
1           NaN        1.0  00000000  15494.865070  1.203772e+07         None
2           NaN        1.0  00000000  46191.333172  8.312223e+07         None
3           NaN        1.0  00000000   6549.088137  2.960201e+06         None
4           NaN        1.0  00000000   8157.506638  1.538860e+06         None
...         ...        ...       ...           ...           ...          ...
21520       8.0        1.0      None   1085.257062  4.659664e+04         None
21521       7.0        1.0      None    750.940858  1.867001e+04         None
21522       1.0        1.0      None   2401.757536  2.720195e+05         None
21523       1.0        1.0      None    935.160088  9.295388e+03         None
21524       8.0        1.0      None   3897.065019  2.694688e+05         None

      COMPLEX_INCNUM                                           geometry
0               None  MULTIPOLYGON (((-119.27545 34.48999, -119.2758...
1               None  MULTIPOLYGON (((-119.23983 34.49126, -119.2402...
2               None  MULTIPOLYGON (((-119.33929 34.47241, -119.3392...
3               None  MULTIPOLYGON (((-119.31223 34.41224, -119.3124...
4               None  MULTIPOLYGON (((-119.27986 34.41221, -119.2801...
...              ...                                                ...
21520           None  MULTIPOLYGON (((-120.03694 39.69621, -120.0369...
21521           None  MULTIPOLYGON (((-118.67056 37.76397, -118.6705...
21522           None  MULTIPOLYGON (((-119.60635 38.48554, -119.6060...
21523           None  MULTIPOLYGON (((-117.69593 33.77283, -117.6959...
21524           None  MULTIPOLYGON (((-115.49858 35.26827, -115.4986...

[21525 rows x 20 columns]>