In [218]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from shapely.geometry import Point, Polygon
import shapely
import pickle

In [219]:
data = pd.read_csv('./Cal1.1.csv')
TSLF = pd.read_csv('./TSLF.csv')
data.drop(columns = ['Unnamed: 0' , 'Event_ID' , 'Grass_Burned(ha)' , 'geometry'] , inplace = True)
TSLF.drop(columns = ['index' , 'Unnamed: 0'] , inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fire_Name              1697 non-null   object
 1   Lat                    1697 non-null   float64
 2   Long                   1697 non-null   float64
 3   Fire_Year              1697 non-null   object
 4   Fire_Month             1697 non-null   int64
 5   Total_area_burned(ha)  1697 non-null   float64
 6   Unchanged(ha)          1697 non-null   float64
 7   Low_Severity(ha)       1697 non-null   float64
 8   Moderate_Severity(ha)  1697 non-null   float64
 9   High_Severity(ha)      1697 non-null   float64
 10  FuelTreatment          1697 non-null   int64
dtypes: float64(7), int64(2), object(2)
memory usage: 146.0+ KB

In [220]:
TSLF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fire_Name              1697 non-null   object
 1   Lat                    1697 non-null   float64
 2   Long                   1697 non-null   float64
 3   Fire_Year              1697 non-null   int64
 4   Fire_Month             1697 non-null   int64
 5   Total_area_burned(ha)  1697 non-null   float64
 6   High_Severity(ha)      1697 non-null   float64
 7   TSLF                   1697 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 106.2+ KB

In [221]:
data['Fire_Year'] = pd.to_datetime(data['Fire_Year'], format='%Y-%m-%d %H:%M:%S', utc=True)
data['Fire_Year'] = data['Fire_Year'].dt.year
data['Fire_Year'] = data['Fire_Year'].apply(pd.to_numeric)
data.head()

,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),Unchanged(ha),Low_Severity(ha),Moderate_Severity(ha),High_Severity(ha),FuelTreatment
0,152,37.096,-121.167,2003,6,689.94,1.17,88.38,566.19,34.20,0
1,16,38.893,-122.265,2002,10,615.69,0.54,557.28,55.98,0.99,0
2,165,37.225,-120.834,2001,6,726.03,36.27,146.52,338.76,204.39,0
3,241 FIRE,33.828,-117.747,2007,3,750.33,17.46,515.16,217.17,0.54,0
4,36,40.300,-122.734,2005,8,917.55,0.00,619.29,295.92,1.71,0

In [222]:
TSLF.head()

,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),High_Severity(ha),TSLF
0,152,37.096,-121.167,2003,6,689.94,34.20,0
1,16,38.893,-122.265,2002,10,615.69,0.99,1
2,165,37.225,-120.834,2001,6,726.03,204.39,1
3,241 FIRE,33.828,-117.747,2007,3,750.33,0.54,0
4,36,40.300,-122.734,2005,8,917.55,1.71,0

In [223]:
data.sort_values(by = ['Lat', 'Long'], ascending = True, inplace = True) #arbitrary sort order for TSLFmerge
TSLF.sort_values(by = ['Lat' , 'Long'], ascending = True, inplace = True) #arbitrary sort order for TSLFmerge

In [224]:
data['TSLF(months)'] = TSLF[['TSLF']]
data

In [227]:
data.to_csv('Cal1.2.csv')