In [21]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from shapely.geometry import Point, Polygon
import shapely
import pickle

In [22]:
data = pd.read_csv('./Cal1.1.csv')
TSLF = pd.read_csv('./TSLR.csv')
data.drop(columns = ['Unnamed: 0' , 'Event_ID' , 'Grass_Burned(ha)' , 'geometry'] , inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fire_Name              1697 non-null   object
 1   Lat                    1697 non-null   float64
 2   Long                   1697 non-null   float64
 3   Fire_Year              1697 non-null   object
 4   Fire_Month             1697 non-null   int64
 5   Total_area_burned(ha)  1697 non-null   float64
 6   Unchanged(ha)          1697 non-null   float64
 7   Low_Severity(ha)       1697 non-null   float64
 8   Moderate_Severity(ha)  1697 non-null   float64
 9   High_Severity(ha)      1697 non-null   float64
 10  FuelTreatment          1697 non-null   int64
dtypes: float64(7), int64(2), object(2)
memory usage: 146.0+ KB

In [23]:
columns_to_drop = ['Unnamed: 0.2' , 'Unnamed: 0.1' , 'Unnamed: 0' ,
 'Event_ID' , 'CO2(kg)' , 'CO(kg)' , 'CH4(kg)' , 'NMOC(kg)' ,
  'SO2(kg)' , 'NH3(kg)' , 'NO(kg)' , 'NO2(kg)' , 'NOx(kg)' ,
   'PM2.5(kg)' ,'OC(kg)' , 'BC(kg)' , 'Unchanged(ha)' ,
 'Grass_Burned(ha)' , 'Moderate_Severity(ha)' , 'Low_Severity(ha)']
TSLF.drop(columns = columns_to_drop , inplace = True)
TSLF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fire_Name              1697 non-null   object
 1   Lat                    1697 non-null   float64
 2   Long                   1697 non-null   float64
 3   Fire_Year              1697 non-null   int64
 4   Fire_Month             1697 non-null   int64
 5   Total_area_burned(ha)  1697 non-null   float64
 6   High_Severity(ha)      1697 non-null   float64
 7   TSLF                   1697 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 106.2+ KB

In [24]:
data.sort_values(by = ['Fire_Year' , 'Fire_Month' , 'Total_area_burned(ha)'], ascending = True, inplace = True)
TSLF.sort_values(by = ['Fire_Year' , 'Fire_Month' , 'Total_area_burned(ha)'], ascending = True, inplace = True)
data.tail()

,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),Unchanged(ha),Low_Severity(ha),Moderate_Severity(ha),High_Severity(ha),FuelTreatment
1680,LAURA 2,40.062617,-120.089579,2020-01-01 00:00:00+00:00,11,929.43,0.00,68.58,753.39,106.38,0
1681,MOUNTAIN VIEW,38.557839,-119.411412,2020-01-01 00:00:00+00:00,11,5123.52,20.52,626.85,1685.07,2170.44,0
1637,AIRPORT,33.902902,-117.627691,2020-01-01 00:00:00+00:00,12,429.66,10.26,282.15,107.37,29.88,0
1639,SANDERSON,33.900438,-117.063063,2020-01-01 00:00:00+00:00,12,784.62,2.97,148.95,596.88,35.82,0
1688,BOND,33.739796,-117.662660,2020-01-01 00:00:00+00:00,12,2685.06,6.39,238.41,1746.54,693.72,0

In [25]:
TSLF.tail()

,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),High_Severity(ha),TSLF
1691,MOUNTAIN VIEW,38.557839,-119.411412,2020,11,5123.52,2170.44,0
1693,MOUNTAIN VIEW,38.557839,-119.411412,2020,11,5123.52,2170.44,1
1694,AIRPORT,33.902902,-117.627691,2020,12,429.66,29.88,0
1695,SANDERSON,33.900438,-117.063063,2020,12,784.62,35.82,0
1696,BOND,33.739796,-117.662660,2020,12,2685.06,693.72,0